body {
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
	font-family: 'Courier New', monospace;
}

.console {
  width: 540px;
  height: 720px;
	display: inline-block;
	position: relative;
}

#text {
  position: absolute;
	font-family: 'Courier New', monospace;
	font-size: 20px;
}

.blink {
  animation: blink-animation 1s steps(1, start) infinite;
}

@keyframes blink-animation {
    50% {
        visibility: hidden;
    }
}
.console button{
  position: absolute;
  opacity: 0;
}

.pixelated {
  image-rendering: pixelated;
}

img {
  pointer-events: none;
}
